@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    <h1 class="display-4">Welcome Hello World</h1>
=======
    <h1 class="display-4">Welcome to Osotspa</h1>
>>>>>>> 4e5329b (test osotspa)
=======
    <h1 class="display-4">Welcome to Hello World</h1>
>>>>>>> 5900858 (test linked item)
=======
    <h1 class="display-4">Welcome to Ally World</h1>
>>>>>>> 6b5ce2d (Test Ally World)
=======
    <h1 class="display-4">Welcome to Hello World</h1>
>>>>>>> 4b9b65b (test commit)
=======
    <h1 class="display-4">Welcome to Ally World</h1>
>>>>>>> 79d58a8 (test commit)
=======
    <h1 class="display-4">Welcome to Hello World</h1>
>>>>>>> a5a7b50 (Testing)
=======
    <h1 class="display-4">Welcome to Ally World</h1>
>>>>>>> 3492507 (testing)
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core.</a>.</p>
</div>
